.catalog {
  --cards-in-row: 1;
  display: grid;
  grid-template-columns: repeat(var(--cards-in-row), 200px);
  gap: 48px;
  justify-content: center;
  margin: 0 auto;

  @media(min-width: 488px) {
    --cards-in-row: 2;
  }

  @media(min-width: 768px) {
    --cards-in-row: 3;
  }

  @media(min-width: 1024px) {
    --cards-in-row: 4;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
